body, html {
	background: #080014;
	background-color: #080014;
}
html:before {
  content: '';
  position: fixed;
  width: 100%;
  height: 999px;
  top: -999px;
  background-color: tomato;
}
::placeholder {
	color: #818181;
	opacity: 1;
}
.workSpace__title {
	color: #FFFFFF;
}
.workSpace__inner {
	background-color: rgba(67, 67, 67);
	box-shadow: 0 3px 30px rgba(108, 0, 255, 0.1);
}
.workSpace__field {
	input {
		color: #FFFFFF;
		border-bottom: 1px solid #818181;
	}
	&.error {
		input {
			border-bottom: 1px solid #E83434;
		}
		.workSpace__passwordHolder {
			border-bottom: 1px solid #E83434;
		}
		span {
			color: #E83434;
		}
	}
}
.workSpace__passwordHolder {
	border-bottom: 1px solid #818181;
}
.apperianceSwitcher {
	background-color: rgb(67, 67, 67);
	box-shadow: 0 3px 6px rgba(108, 0, 255, 0.16);
	&:active {
		.apperianceSwitcher__slider {
			background: #3E65B3;
			background: -webkit-linear-gradient(top left, #3E65B3, #6B5391);
			background: -moz-linear-gradient(top left, #3E65B3, #6B5391);
			background: linear-gradient(to bottom right, #3E65B3, #6B5391);
		}
	}
}
.workSpace__addedBlock {
	color: #909090;
}
.workSpace__link {
	&.left {
		color: #A04BFA;
	}
}
.workSpace__link.right, .workSpace__link.center {
	color: #4861F0;
}
.workSpace__button {
	background: rgb(111,67,155);
	background: linear-gradient(135deg, rgba(111,67,155,1) 0%, rgba(129,94,203,1) 22%, rgba(113,98,222,1) 49%, rgba(77,124,219,1) 100%);
	&:active {
		background: rgb(91,55,128);
		background: linear-gradient(135deg, rgba(91,55,128,1) 0%, rgba(103,75,163,1) 22%, rgba(82,72,163,1) 49%, rgba(64,104,184,1) 100%);
	}
}

.workSpace__avatar span {
	background-color: #A07FE3;
}

.apperianceSwitcher__slider {
	background: #4D7CDB;
	background: -webkit-linear-gradient(top left, #4D7CDB, #8164AF);
	background: -moz-linear-gradient(top left, #4D7CDB, #8164AF);
	background: linear-gradient(to bottom right, #4D7CDB, #8164AF);
}

.header {
	&__inner {
		background-color: #434343;
		box-shadow: 0 3px 10px rgba(108, 0, 255, 0.2);
	}

	&__backButton {
		background-color: #434343;
		color: #9576DA;
		box-shadow: 0 3px 6px rgba(108, 0, 255, 0.16);
		&:active {
			background-color: scale-color(#434343, $lightness: -10%);
		}
	}

	&__unfoldButton {
		background-color: #434343;
		color: #9576DA;
		box-shadow: 0 3px 6px rgba(108, 0, 255, 0.16);
		&:active {
			background-color: scale-color(#434343, $lightness: -10%);
		}
	}
}

#moneyCountInHeader {
	color: #FFD800;
}

.navigationBlock__number {
	color: #7E7E7E;
	&.active {
		color: white;
	}
}

.bubble {
	background: #A07FE3;
	background: radial-gradient(circle at 20% 20%, #A07FE3 3%, #897FD1 50%, #4D7CDB 80%);
	box-shadow: 0 15px 20px rgba(195, 141, 247, 0.15);
}

.swiper-slide {
	box-shadow: 0 10px 30px rgba(108, 0, 255, 0.13);

	&.addNew {
		background: rgb(179,155,245);
		background: linear-gradient(315deg, rgba(179,155,245,1) 0%, rgba(104,131,234,1) 100%);
	}
}

.swiper-slide__controlBlock {
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,0.17) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,.1) 100%);
}

.swiper-slide__button {
	color: white;
	background: #9677D9;
	background: linear-gradient(135deg, #9677D9 0%, #7162DE 30%, #4D7CDB 100%);
	&:active {
		background: linear-gradient(135deg, scale-color(#9677D9, $lightness: -10%) 0%, scale-color(#7162DE, $lightness: -10%) 30%, scale-color(#4D7CDB, $lightness: -10%) 100%);
	}
}

.swiper-slide__status {
	color: white;
}

.swiper-slide__options {
	background-color: #434343;
	color: #7162DE;

	&:active {
		background-color: scale-color(#434343, $lightness: -10%)
	}
}

.slideWall {
	background-color: rgba(80, 80, 80, 0.42);
}
.slideWall__sheet {
	background-color: #434343;
}
.slideWall__lock {
	color: #989898;
}
.slideWall__title {
	color: #FFFFFF;
}
.slideWall__subtitle {
	color: #9A9A9A;
}
.slideWall__insideTitle {
	color: #FFFFFF;
}
.slideWall__button {
	background: #A3A3A3;
	color: black;
	&.primary {
		color: white;
		background: #9677D9;
		background: linear-gradient(135deg, #9677D9 0%, #7162DE 30%, #4D7CDB 100%);
		&:active {
			background: linear-gradient(135deg, scale-color(#9677D9, $lightness: -10%) 0%, scale-color(#7162DE, $lightness: -10%) 30%, scale-color(#4D7CDB, $lightness: -10%) 100%);
		}
	}
	&:active {
		background: scale-color(#A3A3A3, $lightness: -10%);
	}
}


.gameContent {
	img {
		border-right: 8px solid #2C2C2C;
		border-left: 8px solid #2C2C2C;
		box-shadow: 0px 0px 70px scale-color(black, $alpha: 50%);
	}
}

.gameControls {
	background-color: #434343;
	box-shadow: 0 0 20px scale-color(#6C00FF, $alpha: -89%);

	&__text {
		color: white
	}
	&__backButton {
		color: #9576DA;
		background-color: scale-color(black, $alpha: -62%); 

		&:active {
			background-color: scale-color(black, $alpha: -52%);
		}
	}
	&__variants {
		button {
			color: white;
			background: #9677D9;
			background: linear-gradient(135deg, #9677D9 0%, #7162DE 30%, #4D7CDB 100%);
			&:active {
				background: linear-gradient(135deg, scale-color(#9677D9, $lightness: -10%) 0%, scale-color(#7162DE, $lightness: -10%) 30%, scale-color(#4D7CDB, $lightness: -10%) 100%);
			}
		}
	}
}

.profileBlock {
	background-color: #121212;
	box-shadow: 0px 3px 30px rgba(108, 0, 255, 0.16);

	&__title {
		color: white;
	}

	&__email {
		color: #656565;
	}

	&__cross {
		background-color: #292929;
		color: #9576DA;

		&:active {
			background-color: scale-color(#292929, $lightness: -10%);
		}
	}

	&__settingsCenter {
		& button {
			background-color: #434343;
			color: white;

			&.destructive {
				color: #FF2626;
			}

			&:active {
				background-color: scale-color(#434343, $lightness: -20%);
			}
		}
	}

	&__notificationCenter {
		.contextInfo {
			color: #909090;
		}
	}
}

.horizontalSelector {
	background-color: #1F1F1F;

	&__backBlock {
		background-color: #434343;
	}

	&__button {
		color: white;
		&.active {
			color: #EBEBEB;
		}
	}
}

.messageBlock {
	&__content {
		background-color: #434343;
		box-shadow: 0 3px 30px rgba(108, 0, 255, 0.1);
	}

	&__icon {
		color: white;
	}

	&__title {
		color: white;
	}

	&__text {
		color: #909090;
	}

	&__button {
		color: #4E4AD9;
	}
}


.FNAlert {
	&__inner {
		background-color: #434343;
	}

	&__title {
		color: #FFFFFF;
	}

	&__text {
		color: #909090;
	}

	&__buttonStack {
		& button {
			background-color: #696969;
			color: #A8A8A8;
			&:active {
				background-color: scale-color(#696969, $lightness: -10%);
			}

			&.destructive {
				color: #FF2626;
				background-color: #696969;
			}

			&.primary {
				color: white;
				background: #9677D9;
				background: linear-gradient(135deg, #9677D9 0%, #7162DE 30%, #4D7CDB 100%);
				&:active {
					background: linear-gradient(135deg, scale-color(#9677D9, $lightness: -10%) 0%, scale-color(#7162DE, $lightness: -10%) 30%, scale-color(#4D7CDB, $lightness: -10%) 100%);
				}
			}
		}
	}
}

.FNNotification {
	background-color: #434343;
	box-shadow: 0 3px 10px rgba(108, 0, 255, 0.1);

	&__title {
		color: white;
	}

	&__text {
		color: white;
	}

	&__cross {
		background-color: #6C6C6C;
		color: #9F9F9F;
		&:active {
			background-color: scale-color(#6C6C6C, $lightness: -10%);
		}
	}

	&__buttonHolder {
		button {
			background-color: #6C6C6C;
			color: #9F9F9F;
			&:active {
				background-color: scale-color(#6C6C6C, $lightness: -10%);
			}

			&.primary {
				color: white;
				background: #9677D9;
				background: linear-gradient(135deg, #9677D9 0%, #7162DE 30%, #4D7CDB 100%);
				&:active {
					background: linear-gradient(135deg, scale-color(#9677D9, $lightness: -10%) 0%, scale-color(#7162DE, $lightness: -10%) 30%, scale-color(#4D7CDB, $lightness: -10%) 100%);
				}
			}
		}
	}
}

.quiz {
	&__title {
		color: white;
	}

	&__subtitle {
		color: #909090;
	}

	.question {
		background-color: #434343;
		box-shadow: 0 3px 10px rgba(108, 0, 255, 0.1);
		color: white;
	}

	button {
		color: white;
		background: #9677D9;
		background: linear-gradient(135deg, #9677D9 0%, #7162DE 30%, #4D7CDB 100%);
		box-shadow: 0 3px 10px rgba(108, 0, 255, 0.1);
		&:active {
			background: linear-gradient(135deg, scale-color(#9677D9, $lightness: -10%) 0%, scale-color(#7162DE, $lightness: -10%) 30%, scale-color(#4D7CDB, $lightness: -10%) 100%);
		}
	}
}

.FNAdsBanner {
	background-color: #434343;
}


@media screen and (max-width : 500px) {
	.header {
		background-color: #1A1A1A;
		box-shadow: 0 3px 10px rgba(108, 0, 255, 0.13);

		&__backButton {
			box-shadow: none;
			&:active {
				background: none;
			}
		}

		&__switcher {
			background-color: #1F1F1F;
		}
	}

	.header__inner {
		box-shadow: none;
	}
}