html {
	--main-color: red;
}
body, html {
	background: #F3F0FF;
	background-color: #F3F0FF;
}
::placeholder {
	color: #BFBFBF;
	opacity: 1;
}
.workSpace__title {
	color: #191919;
}
.workSpace__inner {
	background-color: white;
	box-shadow: 0 3px 30px rgba(108, 0, 255, 0.1);
}
.workSpace__field {
	input {
		color: #191919;
		border-bottom: 1px solid #BFBFBF;
	}
	&.error {
		input {
			border-bottom: 1px solid #CC0000;
		}
		.workSpace__passwordHolder {
			border-bottom: 1px solid #CC0000;
		}
		span {
			color: #CC0000;
		}
	}
}
.workSpace__passwordHolder {
	border-bottom: 1px solid #BFBFBF;
}
.apperianceSwitcher {
	background-color: white;
	box-shadow: 0 3px 6px rgba(108, 0, 255, 0.16);
	&:active {
		.apperianceSwitcher__slider {
			background: #A87ED9;
			background: -webkit-linear-gradient(top left, #A87ED9, #D9BAD9);
			background: -moz-linear-gradient(top left, #A87ED9, #D9BAD9);
			background: linear-gradient(to bottom right, #A87ED9, #D9BAD9);
		}
	}
}
.workSpace__addedBlock {
	color: #646464;
}
.workSpace__link {
	&.left {
		color: #A04BFA;
	}
}
.workSpace__link.right, .workSpace__link.center {
	color: #4861F0;
}
.workSpace__button {
	background: rgb(233,192,253);
	background: linear-gradient(135deg, rgba(233,192,253,1) 0%, rgba(246,192,252,1) 16%, rgba(194,145,250,1) 52%, rgba(103,147,235,1) 100%);
	&:active {
		background: rgb(212,165,217);
		background: linear-gradient(135deg, rgba(212,165,217,1) 0%, rgba(199,165,217,1) 22%, rgba(168,126,217,1) 52%, rgba(95,136,217,1) 100%);
	}
}

.workSpace__avatar span {
	background-color: #F49FFF;
}

.apperianceSwitcher__slider {
	background: #C292FA;
	background: -webkit-linear-gradient(top left, #C292FA, #FFDBFF);
	background: -moz-linear-gradient(top left, #C292FA, #FFDBFF);
	background: linear-gradient(to bottom right, #C292FA, #FFDBFF);
}

.header {
	&__inner {
		background-color: white;
		box-shadow: 0 3px 10px rgba(108, 0, 255, 0.13);
	}

	&__backButton {
		background-color: white;
		color: #B88AED;
		box-shadow: 0 3px 6px rgba(108, 0, 255, 0.16);
		&:active {
			background-color: scale-color(white, $lightness: -10%);
		}
	}

	&__unfoldButton {
		background-color: white;
		color: #B88AED;
		box-shadow: 0 3px 6px rgba(108, 0, 255, 0.16);
		&:active {
			background-color: scale-color(white, $lightness: -10%);
		}
	}
}

#moneyCountInHeader {
	color: #FFD800;
}
.navigationBlock__number {
	color: #C7C7C7;
	&.active {
		color: white;
	}
}
.bubble {
	background: #ffdbff;
	background: radial-gradient(circle at 20% 20%, #ffdbff 3%, #f6c0fc 16%, #c291fa 56%, #6793eb 76%);
	box-shadow: 0 15px 20px rgba(195, 141, 247, 0.21);
}
.swiper-slide {
	box-shadow: 0 10px 40px rgba(108, 0, 255, 0.17);
	&.addNew {
		background: rgb(246,192,252);
		background: linear-gradient(315deg, rgba(246,192,252,1) 0%, rgba(194,145,250,1) 100%);
	}
}
.swiper-slide__controlBlock {
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,0.17) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,.1) 100%);
}
.swiper-slide__button {
	color: white;
	background: rgb(196,171,245);
	background: linear-gradient(315deg, rgba(196,171,245,1) 0%, rgba(202,173,246,1) 30%, rgba(246,192,252,1) 100%);
	&:active {
		background: rgb(173,152,217);
		background: linear-gradient(315deg, rgba(173,152,217,1) 0%, rgba(180,154,219,1) 30%, rgba(219,171,224,1) 100%);
	}
}

.swiper-slide__status {
	color: white;
}

.swiper-slide__options {
	background-color: white;
	color: rgba(202,173,246,1);

	&:active {
		background-color: scale-color(white, $lightness: -10%)
	}
}

.slideWall {
	background-color: rgba(80, 80, 80, 0.42);
}
.slideWall__sheet {
	background-color: white;
}
.slideWall__lock {
	color: #CECECE;
}
.slideWall__title {
	color: #2C2C2C;
}
.slideWall__subtitle {
	color: #9A9A9A;
}
.slideWall__insideTitle {
	color: #2B2B2B;
}
.slideWall__button {
	background: #D3D3D3;
	color: black;
	&.primary {
		color: white;
		background: rgb(196,171,245);
		background: linear-gradient(315deg, rgba(196,171,245,1) 0%, rgba(246,192,252,1) 100%);
		&:active {
			background: rgb(171,150,214);
			background: linear-gradient(315deg, rgba(171,150,214,1) 0%, rgba(214,167,219,1) 100%);
		}
	}
	&:active {
		background: #BFBFBF;
	}
}

.gameContent {
	img {
		border-right: 8px solid #F7F5FF;
		border-left: 8px solid #F7F5FF;
		box-shadow: 0px 0px 70px scale-color(white, $alpha: 50%);
	}
}

.gameControls {
	background-color: white;
	box-shadow: 0 0 20px scale-color(#6C00FF, $alpha: -89%);

	&__text {
		color: #2C2C2C;
	}
	&__backButton {
		color: #B88AED;
		background-color: scale-color(#EEE2FC, $alpha: -62%); 
		&:active {
			background-color: scale-color(#EEE2FC, $lightness: -10%, $alpha: -62%);
		}
	}
	&__variants {
		button {
			color: white;
			background: rgb(196,171,245);
			background: linear-gradient(315deg, rgba(196,171,245,1) 0%, rgba(246,192,252,1) 100%);
			&:active {
				background: rgb(171,150,214);
				background: linear-gradient(315deg, rgba(171,150,214,1) 0%, rgba(214,167,219,1) 100%);
			}
		}
	}
}

.profileBlock {
	background-color: #F3F0FF;
	box-shadow: 0px 3px 30px rgba(108, 0, 255, 0.16);

	&__title {
		color: #2B2B2B;
	}

	&__email {
		color: #ACACAC;
	}

	&__cross {
		background-color: rgba(238, 226, 252, 0.38);
		color: #B88AED;

		&:active {
			background-color: scale-color(#EEE2FC, $lightness: -10%, $alpha: -62%);
		}
	}

	&__settingsCenter {
		& button {
			background-color: white;
			color: #2B2B2B;

			&.destructive {
				color: #FF3161;
			}

			&:active {
				background-color: scale-color(white, $lightness: -4%);
			}
		}
	}

	&__notificationCenter {
		.contextInfo {
			color: #646464;
		}
	}
}

.horizontalSelector {
	background-color: #E7D9FF;

	&__backBlock {
		background-color: white;
	}

	&__button {
		color: #666666;
		&.active {
			color: #2B2B2B;
		}
	}
}

.messageBlock {

	&__content {
		background-color: #fff;
		box-shadow: 0 3px 30px rgba(108, 0, 255, 0.1);
	}

	&__icon {
		color: white;
	}

	&__title {
		color: #3E3E3E;
	}

	&__text {
		color: #646464;
	}

	&__button {
		color: #A04BFA;
	}
}

.FNAlert {
	&__inner {
		background-color: white;
	}

	&__title {
		color: #3E3E3E;
	}

	&__text {
		color: #646464;
	}

	&__buttonStack {
		& button {
			background-color: #EAEAEA;
			color: #9B9B9B;
			&:active {
				background-color: scale-color(#EAEAEA, $lightness: -10%);
			}

			&.destructive {
				color: #FF5C5C;
				background-color: #EAEAEA;
			}

			&.primary {
				color: white;
				background: rgb(196,171,245);
				background: linear-gradient(315deg, rgba(196,171,245,1) 0%, rgba(246,192,252,1) 100%);
				&:active {
					background: rgb(171,150,214);
					background: linear-gradient(315deg, rgba(171,150,214,1) 0%, rgba(214,167,219,1) 100%);
				}
			}
		}
	}
}

.FNNotification {
	background-color: #fff;
	box-shadow: 0 3px 10px rgba(108, 0, 255, 0.1);

	&__title {
		color: #2B2B2B;
	}

	&__text {
		color: #2B2B2B;
	}

	&__cross {
		background-color: #EAEAEA;
		color: #9B9B9B;
		&:active {
			background-color: scale-color(#EAEAEA, $lightness: -10%);
		}
	}

	&__buttonHolder {
		button {
			background-color: #EAEAEA;
			color: #9B9B9B;
			&:active {
				background-color: scale-color(#EAEAEA, $lightness: -10%);
			}

			&.primary {
				color: white;
				background: rgb(196,171,245);
				background: linear-gradient(315deg, rgba(196,171,245,1) 0%, rgba(246,192,252,1) 100%);
				&:active {
					background: rgb(171,150,214);
					background: linear-gradient(315deg, rgba(171,150,214,1) 0%, rgba(214,167,219,1) 100%);
				}
			}
		}
	}
}

.quiz {
	&__title {
		color: #3E3E3E;
	}

	&__subtitle {
		color: #646464;
	}

	.question {
		background-color: white;
		box-shadow: 0 3px 10px rgba(108, 0, 255, 0.1);
		color: #3E3E3E;
	}

	button {
		color: white;
		background: rgb(196,171,245);
		background: linear-gradient(315deg, rgba(196,171,245,1) 0%, rgba(246,192,252,1) 100%);
		box-shadow: 0 3px 10px rgba(108, 0, 255, 0.1);
		&:active {
			background: rgb(171,150,214);
		}
	}
}

.FNAdsBanner {
	background-color: #fff;
}


@media screen and (max-width : 500px) {
	.header {
		background-color: #F9F7FF;
		box-shadow: 0 3px 10px rgba(108, 0, 255, 0.13);

		&__backButton {
			box-shadow: none;
			&:active {
				background: none;
			}
		}

		&__switcher {
			background-color: #EEEBFF;
		}
	}

	.header__inner {
		box-shadow: none;
	}
}