body {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  background: #BE85E6;
  background: -webkit-gradient(linear, left bottom, left top, from(#BE85E6), to(#1F3258));
  background: linear-gradient(0deg, #BE85E6 0%, #1F3258 100%);
}

*:not(.swiper-wrapper) {
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  position: relative;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}
.anim-item {
  position: relative;
  -webkit-transform: translateY(7%);
          transform: translateY(7%);
  opacity: 0;
}

.anim-active {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.mainButton {
  width: 100%;
  max-width: 200px;
  height: 40px;
  border-radius: 10px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin: 10px auto;
  font-size: 20px;
}

.firstTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.firstTitle__imageHolder {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 10px;
}
.firstTitle__imageHolder img {
  border-radius: 50%;
  height: 160px;
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.firstTitle__info {
  margin: 14px 0;
}
.firstTitle__title {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}
.firstTitle__subtitle {
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  max-width: 600px;
}

.landingBlock {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 20px 4%;
  min-height: 100vh;
  max-width: 100vw;
  background: no-repeat center/cover;
}
.landingBlock.short {
  min-height: initial;
}
.landingBlock.fullWidth {
  padding: 20px 0;
}
.landingBlock.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.landingBlock.pattern {
  background: none;
}
.landingBlock.fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.landingBlock.smallerBlock {
  min-height: initial;
  height: 100vh;
}
.landingBlock.smallerBlock .arrows {
  position: absolute;
  bottom: 2%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.landingBlock.smallerBlock.active {
  height: 90vh;
  -webkit-transition: height 0.7s ease-out 0.5s;
  transition: height 0.7s ease-out 0.5s;
}
.landingBlock.smallerBlock.active .arrows i {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.landingBlock.smallerBlock.active .arrows i.second {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}
.landingBlock__mainTitle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  font-weight: 500;
}
.landingBlock__mainTitle img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.landingBlock__mainTitle.anim-active {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.landingBlock__mainSubtitle {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 25%;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}
.landingBlock__subtitle {
  color: black;
  text-align: center;
  padding: 0 25%;
  font-size: 18px;
  font-weight: 200;
}
.landingBlock__title {
  color: black;
  text-align: center;
  padding: 20px;
  font-size: 34px;
  font-weight: 400;
}
.landingBlock__title img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.landingBlock__image {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.landingBlock__image img {
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 90vh;
}
.landingBlock__textBlock {
  width: 70%;
  margin: 30px auto;
}
.landingBlock__textBlock .inner {
  font-size: 20px;
}
.landingBlock__textBlock-left {
  margin-right: 30%;
}
.landingBlock__textBlock-left.anim-item {
  opacity: 0;
  -webkit-transform: translateX(-4%);
          transform: translateX(-4%);
}
.landingBlock__textBlock-right {
  margin-left: 30%;
}
.landingBlock__textBlock-right.anim-item {
  opacity: 0;
  -webkit-transform: translateX(4%);
          transform: translateX(4%);
}
.landingBlock__link {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.landingBlock__link a {
  font-size: 18px;
  text-decoration: none;
}
.landingBlock__link .primary {
  width: 20%;
  min-width: 250px;
  height: 50px;
  border-radius: 25px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #C291FA;
  background: linear-gradient(315deg, #C291FA 0%, #F6C0FC 100%);
}

.font__bubble {
  font-weight: 400;
  background: rgb(196, 171, 245);
  background: linear-gradient(315deg, #FFDDFA 0%, #FFFFFF 50%, #BCE6FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.font__aqua {
  font-weight: 400;
  background: #57FFEE;
  background: -webkit-gradient(linear, left top, right top, from(#57FFEE), to(#69A0FF));
  background: linear-gradient(to right, #57FFEE 0%, #69A0FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.font__pinkMarimba {
  font-weight: 400;
  background: #A970FF;
  background: -webkit-gradient(linear, left top, right top, from(#A970FF), to(#FF9CEE));
  background: linear-gradient(to right, #A970FF 0%, #FF9CEE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.font__orangeFlame {
  font-weight: 400;
  background: #FF9669;
  background: -webkit-gradient(linear, left top, right top, from(#FF9669), to(#FFE669));
  background: linear-gradient(to right, #FF9669 0%, #FFE669 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.anchorCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gradient__background {
  background: #F3F0FF;
  background: -webkit-gradient(linear, left top, left bottom, from(#F3F0FF), to(#D9DAFF));
  background: linear-gradient(180deg, #F3F0FF 0%, #D9DAFF 100%);
}
.gradient__background-flipped {
  background: #D9DAFF;
  background: -webkit-gradient(linear, left bottom, left top, from(#F3F0FF), to(#D9DAFF));
  background: linear-gradient(0deg, #F3F0FF 0%, #D9DAFF 100%);
}
.gradient__mainLight {
  background: #F3F0FF;
  background: linear-gradient(135deg, #F3F0FF 0%, #EEE6FF 100%);
}
.gradient__mainLight-flipped {
  background: #F3F0FF;
  background: linear-gradient(45deg, #F3F0FF 0%, #EEE6FF 100%);
}
.gradient__mainDark {
  background: #080014;
  background: linear-gradient(135deg, #080014 0%, #211A2F 100%);
}
.gradient__mainDark-flipped {
  background: #080014;
  background: linear-gradient(45deg, #080014 0%, #211A2F 100%);
}
.gradient__primary {
  color: white;
  background: rgb(196, 171, 245);
  background: linear-gradient(315deg, rgb(196, 171, 245) 0%, rgb(246, 192, 252) 100%);
}
.gradient__secondary {
  background: #6793EB;
  background: linear-gradient(135deg, #6793EB 0%, #6767EB 100%);
}
.gradient__lightBlue {
  background: #DBE4FF;
  background: linear-gradient(135deg, #DBE4FF 0%, #CCD0FF 100%);
}
.gradient__violet {
  background: #CFA5FF;
  background: linear-gradient(135deg, #CFA5FF 0%, #AF82E3 100%);
}
.gradient__darkBlue {
  background: #CFA5FF;
  background: linear-gradient(135deg, #CFA5FF 0%, #AF82E3 100%);
}
.gradient__bubble {
  background: #ffdbff;
  background: radial-gradient(circle at 20% 20%, #ffdbff 3%, #f6c0fc 16%, #c291fa 56%, #6793eb 76%);
  -webkit-box-shadow: 0 15px 20px rgba(195, 141, 247, 0.21);
          box-shadow: 0 15px 20px rgba(195, 141, 247, 0.21);
}

.color__base {
  background-color: white;
}
.color__mainLight {
  background-color: #F3F0FF;
}
.color__lightBlue {
  background-color: #D5DEF8;
}

.messageBlock {
  color: white;
  font-size: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  width: 65%;
  margin: 20px 0;
  -webkit-box-shadow: 0 3px 10px rgba(103, 147, 235, 0.2);
          box-shadow: 0 3px 10px rgba(103, 147, 235, 0.2);
}
.messageBlock-left {
  border-radius: 20px 20px 20px 5px;
  text-align: left;
  margin-right: 35%;
}
.messageBlock-left.anim-item {
  opacity: 0;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transform: translateX(-4%);
          transform: translateX(-4%);
}
.messageBlock-left.anim-active {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.messageBlock-right {
  border-radius: 20px 20px 5px 20px;
  text-align: right;
  margin-left: 35%;
}
.messageBlock-right.anim-item {
  opacity: 0;
  position: relative;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transform: translateX(4%);
          transform: translateX(4%);
}
.messageBlock-right.anim-active {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.horizontalChart {
  width: 86%;
  margin: 0 auto;
  text-align: left;
  font-size: 20px;
  font-width: 300;
}
.horizontalChart__inner {
  margin: 10px 0;
  width: 100%;
  background-color: rgba(203, 203, 203, 0.8);
  height: 60px;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px rgba(203, 203, 203, 0.2);
          box-shadow: 0 0 10px rgba(203, 203, 203, 0.2);
}
.horizontalChart__value {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: inherit;
}
.horizontalChart__value.anim-item {
  width: 10% !important;
}

.list {
  width: 70%;
  margin: 0 auto;
}
.list__element {
  text-align: center;
  font-size: 20px;
  margin: 18px 0;
}
.list__element:before {
  content: "-";
  margin-right: 4px;
}

.stackGrid {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.stackGrid__element {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: ceter;
}
.stackGrid__element img {
  margin-bottom: 10px;
  border-radius: 12px;
  width: 60px;
  height: 60px;
}

.contactsGrid {
  margin: 0 auto;
  width: 70%;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr;
}
.contactsGrid__element {
  text-decoration: none;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: ceter;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 14px;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  min-height: 20vh;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  color: black;
  font-size: 18px;
}
.contactsGrid__element:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.contactsGrid__element-primary:hover {
  background-color: rgba(247, 232, 255, 0.5);
}
.contactsGrid__element img {
  margin-bottom: 10px;
  border-radius: 15px;
  width: 60px;
  height: 60px;
}

.header {
  position: fixed;
  top: -100px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 20px;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 2;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.8);
}
.header.active {
  top: 0;
}
.header__link {
  width: 100px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .landingBlock__mainTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: initial;
  padding: 0;
  font-size: 20px;
}
.header .landingBlock__mainTitle img {
  width: 30px;
  height: 30px;
}

.swiper {
  padding: 30px 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.swiper-slide {
  width: initial !important;
}
.swiper-slide__image {
  width: initial;
  height: 70vh;
  min-width: 100px;
  min-height: 100px;
  border-radius: 30px;
  background-color: pink;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 10px rgba(83, 0, 128, 0.16);
          box-shadow: 0 4px 10px rgba(83, 0, 128, 0.16);
}
.swiper-slide__image img {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper-pagination {
  bottom: 0 !important;
}
.swiper-pagination-bullet-active {
  background: #BE85E6 !important;
  outline: none;
}

.dualText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dualText img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: initial;
  -webkit-box-shadow: none;
          box-shadow: none;
  max-width: 60%;
}
.dualText__text {
  text-align: center;
  color: black;
  padding: 20px;
  font-size: 18px;
  font-weight: 200;
}
.dualText__title {
  text-align: center;
  color: black;
  font-size: 34px;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  .landingBlock.fixed {
    background-attachment: scroll;
    background-repeat: no-repeat;
  }
  .landingBlock__mainSubtitle {
    padding: 0 8%;
    font-size: 18px;
  }
  .landingBlock__title {
    padding: 20px 0;
    font-size: 26px;
  }
  .landingBlock__subtitle {
    padding: 0 10%;
  }
  .landingBlock__textBlock {
    width: 84%;
  }
  .landingBlock__textBlock .inner {
    font-size: 18px;
  }
  .landingBlock__textBlock-right {
    margin-left: 16%;
  }
  .landingBlock__textBlock-left {
    margin-right: 16%;
  }

  .messageBlock {
    width: 80%;
    font-size: 20px;
  }
  .messageBlock-right {
    margin-left: 20%;
  }
  .messageBlock-left {
    margin-right: 20%;
  }

  .horizontalChart {
    width: 94%;
    font-size: 18px;
  }
  .horizontalChart__inner {
    border-radius: 11px;
    height: 44px;
  }

  .list {
    width: 90%;
  }
  .list__element {
    font-size: 18px;
  }

  .stackGrid__element {
    font-size: 14px;
  }

  .dualText {
    text-align: right;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 18px;
  }
  .dualText__title {
    font-size: 26px;
  }
  .dualText-ltr {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .dualText-rtl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .contactsGrid {
    width: 100%;
  }
}