.gameBackground {
	position: absolute;
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 50%;
  filter: blur(12px);
  -webkit-filter: blur(12px);
  z-index: -1;
}

.gameContent {
	top: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: -1;
}

.gameContent img {
	height: 100%;
	max-width: 100%;
	object-fit: contain;
	border-right: 8px solid teal;
	border-left: 8px solid teal;
}

.gameControls {
	position: absolute;
	bottom: 2vh;
	// left: 32vw;
	right: 8vw;
	box-sizing: border-box;
	padding: 16px;
	background-color: teal;
	margin: 0 auto;
	width: 60vw;
	min-width: 420px;
	border-radius: 36px;
	z-index: 1;
	max-height: calc(200px + 10vh);
	min-height: calc(135px + 10vh);
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__text {
		font: {
			size: 20px;
			weight: 200;
		}
		color: darkred;
		overflow: auto;
	}
	&__backButton {
		$size: 40px;
		padding: 0;
		border: none;
		background: none;
		background-color: peachpuff;
		color: palevioletred;
		height: $size;
		width: $size;
		border-radius: 50%;
		font-size: 16px;
		flex-shrink: 0;
		margin-right: 10px;
		cursor: pointer;
	}
	&__buttons {
		overflow: hidden;
		display: flex;
		justify-content: flex-end;
		// display: -webkit-box;
		// display: block;
		margin-top: 10px;
		min-height: 40px;
	}
	&__variants {
		overflow: auto;
		// min-width: 100%;
		flex-wrap: nowrap;
		display: flex;
		// justify-content: flex-end;

		button {
			background: none;
			border: none;
			background-color: palevioletred;
			color: peachpuff;
			font-size: 16px;
			font-weight: 500;
			border-radius: 10px;
			box-sizing: border-box;
			padding: 0 40px;
			max-height: 54px;
			min-height: 40px;
			cursor: pointer;
			margin: 2px;
			white-space: nowrap;

			i {margin-right: 2px; font-size: 0.8em;}
		}
	}
}


.FNNotification {
	background-color: teal;
	width: 320px;
	min-height: 60px;
	max-width: 96%;
	position: fixed;
	top: 1%;
	right: -400px;
	z-index: 7;
	border-radius: 16px;
	box-sizing: border-box;
	padding: 8px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	transition: 0.3s;

	&.active {
		right: 2%;
	}

	&__imageHolder {
		$imageSize: 44px;
		height: $imageSize;
		width: $imageSize;
		overflow: hidden;
		margin-right: 10px;
		flex-shrink: 0;

		img {
			max-width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__info {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	&__titleBlock {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__title {
		color: darkred;
		font-size: 17px;
	}

	&__cross {
		padding: 0;
		border: none;
		background: none;
		$crossSize: 20px;
		background-color: skyblue;
		height: $crossSize;
		width: $crossSize;
		border-radius: 50%;
		color: midnightblue;
		cursor: pointer;
		font-size: 8px;

		&:active {
			background-color: scale-color(skyblue, $lightness: -10%);
		}
	}

	&__text {
		margin: 5px 0;
		font: {
			size: 14px;
			weight: 200;
		}
		color: darkred;

	}

	&__buttonHolder {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		button {
			border: none;
			background: none;
			height: 28px;
			border-radius: 8px;
			background-color: skyblue;
			color: midnightblue;
			cursor: pointer;
			width: 100%;
			margin: 0 5px;
			font-size: 15px;

			&:active {
				background-color: scale-color(skyblue, $lightness: -10%);
			}

			&.primary {
				background-color: palegreen;
				color: darkgreen;

				&:active {
					background-color: scale-color(palegreen, $lightness: -10%);
				}
			}
		}
	}
}

.profileBlock {
	position: fixed;
	display: none;
	top: 5%;
	right: 3%;
	height: 92%;
	width: 30%;
	max-width: 460px;
	min-width: 350px;
	background-color: teal;
	border-radius: 32px;
	padding: 16px;
	box-sizing: border-box;
	z-index: 6;

	&.active {
		display: block;
	}	

	&__controls {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
	}
	&__title {
		color: darkred;
			font: {
			size: 32px;
		}
	}

	&__email {
		margin-top: 4px;
		color: salmon;
		font: {
			size: 14px;
			weight: 200;
		}
	}

	&__cross {
		$profileButtonSize: 32px;
		padding: 0;
		background: none;
		border: none;
		background-color: lawngreen;
		color: green;
		width: $profileButtonSize;
		height: $profileButtonSize;
		border-radius: 50%;
		cursor: pointer;
	}

	&__selector {
		margin: 14px auto;
		width: 80%;
	}

	&__settingsCenter {
		display: none;

		&.active {
			display: block;
		}

		& button {
			border: none;
			background: none;
			display: block;
			height: 40px;
			width: 100%;
			text-align: left;
			font-size: 16px;
			cursor: pointer;
			color: darkblue;
			margin: 6px 0;
			border-radius: 10px;
			box-sizing: border-box;
			padding: 0 14px;
			transition: 0.3s;

			&.destructive {
				color: pink;
			}
		}
	}
	&__progressCenter {

	}
	&__notificationCenter {
		display: none;

		&.active {
			display: block;
		}

		.contextInfo {
			text-align: center;
			color: teal;
			box-sizing: border-box;
			padding: 20px 14%;
			font: {
				size: 14px;
				weight: 300;
			}
		}
	}
}
.icon-cross {
}
.horizontalSelector {
	position: relative;
	background-color: seagreen;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 40px;
	border-radius: 20px;
	box-sizing: border-box;
	padding: 2px;
	z-index: 1;

	&__button {
		border: none;
		background: none;
		flex: 50%;
		cursor: pointer;
		font-size: 14px;
		transition: 0.3s;
		
		&.active {
			color: grey;
		}
	}
	&__backArea {
		position: absolute;
		height: 36px;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		box-sizing: border-box;
		padding-right: 4px;
		z-index: -1;
		transition: 0.3s;
	}

	&__backBlock {
		position: relative;
		height: 100%;
		width: 100%;
		border-radius: 18px;
		background-color: lightseagreen;
		transition: 0.3s;
	}
}

.FNAlert {
	display: none;
	top: 0;
	bottom: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 15;
	background-color: rgba(0, 0, 0, 0.25);

	&.active {
		display: flex;
		justify-content: center;
		align-items: center;

		& .FNAlert__inner {
			opacity: 1;
		}
	}

	&__inner {
		position: relative;
		width: 30%;
		min-width: 300px;
		opacity: 0;
		transition: all 0.4s;
		box-sizing: border-box;
		padding: 16px;
		border-radius: 28px;
		z-index: 16;
		background-color: pink;
	}

	&__title {
		text-align: center;
		margin-bottom: 16px;
		font: {
			size: 34px;
			weight: 400px;
		}
	}

	&__text {
		text-align: center;
		font: {
			size: 15px;
			weight: 200;
		}
	}
	&__buttonStack {
		margin-top: 8px;
		display: flex;
		flex-direction: column;

		& button {
			margin-top: 8px;
			border: none;
			background: none;
			box-sizing: border-box;
			padding: 0;
			text-align: center;
			width: 100%;
			height: 48px;
			border-radius: 12px;
			background-color: salmon;
			cursor:	pointer;
			font-size: 14px;

			&.primary {
				background-color: coral;
			}

			&.destructive {
				background-color: darkturquoise;
			}
		}
	}
}

.quiz {
	width: 60%;
	margin: 0 auto;
	margin-top: 80px;

	&__titleBlock {

		margin-bottom: 10px;
	}

	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 28px;
		font-weight: 400;
		color: peachpuff;

		img {
			width: 40px;
			height: 40px;
			margin-right: 10px;
		}
	}

	&__subtitle {
		box-sizing: border-box;
		padding: 0 20px;
		text-align: center;
		font-size: 16px;
		margin: 10px 0;
		color: peachpuff;
	}

	button {
		background: none;
		border: none;
		background-color: palevioletred;
		color: peachpuff;
		font-size: 16px;
		font-weight: 500;
		border-radius: 10px;
		box-sizing: border-box;
		padding: 0 40px;
		height: 40px;
		cursor: pointer;
		margin-bottom: 10px;
	}
}

.question {
	background-color: teal;
	border-radius: 24px;
	box-sizing: border-box;
	padding: 24px;
	color: salmon;
	margin-bottom: 14px;
	font: {
		size: 24px;
	}

	& div {
		margin: 0;
		display: flex;
		align-items: center;
		margin-top: 1em;
		font: {
			size: 18px;
			weight: 300;
		}

		& input[type="radio"] {
			height: 30px;
			width: 30px;
			margin-right: 4px;
			border-radius: 25px;
			flex-shrink: 0;
		}
	}
}

.AMPContent {
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 20px;
	width: 80%;

	&__mainTitle {
		color: darkgreen;
		font: {
			size: 34px;
			weight: 500;
		}
	}

	.fileBlock {
		input[type="file"] {
			position: absolute;
			left: -1px;
			top: -1px;
			width: 0px;
			height: 0px;
			opacity: 0px;

			&:disabled {
				
			}
		}

		&__dropArea {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			flex-shrink: 0;
			box-sizing: border-box;
			padding: 6%;
			width: 40vmin;
			height: 40vmin;
			border: 2px solid peachpuff;
			border-radius: 8%;
			margin-right: 20px;
			cursor: pointer;
			background-color: rgba(100, 30, 30, 0.5);

			&.drop {
				border-style: dashed;
				background-color: rgba(15, 50, 15, 0.5);
			}
		}

		&__content {
			display: flex;
			flex-direction: row;

		}

		&__drop {

		}

		&__verdict {
			width: 100%;
		}

		&__title {
			color: darkgreen;
			font: {
				size: 28px;
				weight: 500;
			}
		}

		&__subtitle {
			margin: 10px 0;
			font: {
				size: 16px;
			}

			a {
				color: green;
				text-decoration: none;
			}
		}

		&__fileSign {
			background-color: darkblue;
			width: 30%;
			height: 40%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			overflow: hidden;
		}


		&__resHolder {
			color: orange;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			max-width: 100%;
		}

		&__crossHolder {
			display: flex;
			justify-content: flex-start;

			button {
				--size: 20px;
				height: var(--size);
				width: var(--size);
				padding: 0;
				margin: 0;
				border: none;
				background: none;
				cursor: pointer;
				color: orange;
			}
		}
	}

	.AMPSubmitButton {
		width: 100%;
		display: flex;
		flex-diraction: row;
		justify-content: flex-start;

		button {
			background: none;
			border: none;
			background-color: palevioletred;
			color: peachpuff;
			font-size: 16px;
			font-weight: 500;
			border-radius: 10px;
			box-sizing: border-box;
			padding: 0 40px;
			height: 40px;
			cursor: pointer;
			margin-bottom: 10px;
		}
	}
}

.verdictBlock {
	border-radius: 10px;
	background-color: teal;

	&__header {
		padding: 0 10px;
		display: flex;
		align-items: center;
		flex-direction: row;
		height: 30px;
		justify-content: space-between;
	}
	&__title {
		color: darkred;
		font: {
			size: 18px;
			weight: 300;
		}
	}
	&__button {
		color: darkred;
		border: none;
		background: none;
		cursor: pointer;
		font: {
			size: 18px;
			weight: 300;
		}
	}
	&__inner {
		padding: 0 10px;
		border-top: 1px solid red;
		border-bottom: 1px solid red;
		overflow: auto;
		min-height: calc(100% - 62px);
		font: {
			size: 18px;
			weight: 400;
		}
	}
	&__conclusion {
		height: 30px;
		padding: 0 10px;
	}
}

.mark {
	$size: 2em;
	&-success {
		color: white;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: $size !important;
		height: $size !important;
		background-color: #58E03F;
		font-size: 0.7em;
		border-radius: 50%;
		margin: 4px;
	}
	&-exclamation {
		color: white;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: $size !important;
		height: $size !important;
		background-color: #FFCE00;
		font-size: 0.7em;
		border-radius: 50%;
		margin: 4px;
	}
	&-cross {
		color: white;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: $size !important;
		height: $size !important;
		background-color: #EF4A34;
		font-size: 0.7em;
		border-radius: 50%;
		margin: 4px;
	}
}

.FNAdsBanner {
	position: absolute;
	height: 10vh;
	// background-color: red;
	width: 100%;
	top: 10vh;
	left: 0;
	overflow: hidden;
	padding: 5px;
	box-sizing: border-box;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	&.gameAds {
		padding: 0px;
		position: relative;
		top: initial;
		left: initial;
		margin-bottom: 10px;
		border-radius: 1vh;
	}
}

